<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddMFRServlet</servlet-name>
        <servlet-class>mfrpkg.AddMFRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPRODServlet</servlet-name>
        <servlet-class>prodpkg.AddPRODServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddREFServlet</servlet-name>
        <servlet-class>refpkg.AddREFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTAGServlet</servlet-name>
        <servlet-class>tagpkg.AddTAGServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindTIDServlet</servlet-name>
        <servlet-class>tagpkg.FindTIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRfidServlet</servlet-name>
        <servlet-class>tagpkg.ShowRfidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserPerServlet</servlet-name>
        <servlet-class>userpkg.AddUserPerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAllServlet</servlet-name>
        <servlet-class>userpkg.showAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMFRServlet</servlet-name>
        <url-pattern>/AddMFRServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPRODServlet</servlet-name>
        <url-pattern>/AddPRODServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddREFServlet</servlet-name>
        <url-pattern>/AddREFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTAGServlet</servlet-name>
        <url-pattern>/AddTAGServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindTIDServlet</servlet-name>
        <url-pattern>/FindTIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRfidServlet</servlet-name>
        <url-pattern>/ShowRfidServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserPerServlet</servlet-name>
        <url-pattern>/AddUserPerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAllServlet</servlet-name>
        <url-pattern>/showAllServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
